.hourBody {
  margin-top: 15px;
}
.boxContainer {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  max-width: 80%;
}
.hourboxContainer {
  margin-top: 15px;
  display: grid;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}
.boxItem {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
  width: fit-content;
  position: relative;
  border-radius: 5px;
  border: .05px solid var(--marine-blue);
}

.containerLabel {
  margin-bottom: 20px;
}

.checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.radiobox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.itemChecked {
  background-color: var(--marine-blue);
  color: var(--white);
}
